body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app_bar {
    background-color: black !important;
}

.bag_quantity{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    background-color: red;
    height: 30px;
    width: 30px ;
}

.bag_quantity span { 
    margin-left: 10px !important;
    font-size: 18px;
}